<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Harry Potter Classifier | Сервис проверки теста на принадлежность к классу предметов по вселенной Гарри Поттера</title>
</head>
<body>
	<header>
		<h2><a href="/">Harry Potter Classifier</a></h2>
		<nav>
			<a href="/check">Проверка текста</a>
			|
			<a href="/classes">Статьи</a>
		</nav>
	</header>
	<div>
		<h1>Сервис проверки теста на принадлежность к классу предметов по вселенной Гарри Поттера</h1>
		<p>
			Сайт Harry Potter Classifier использует обученную при помощи машинного обучения модель для определения наиболее подходящего класса для вашего текста.<br>
			<a href="check">Попробуйте скорее опробовать классификатор</a>
		</p>
		<p>
			Для обучения модели было использовано более 1000 статей и выделено более 10 классов текста.<br>
			<a href="classes">Вы можете посмотреть их прямо сейчас</a>
		</p>
	</div>
</body>
</html>