<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Harry Potter Classifier | Сервис проверки теста на принадлежность к классу предметов по вселенной Гарри Поттера</title>
</head>
<body>
	<header>
		<h2><a href="/">Harry Potter Classifier</a></h2>
		<nav>
			<a href="/check">Проверка текста</a>
			|
			<a href="/classes">База данных</a>
		</nav>
	</header>
	<div>
		<h3>Результаты проверки</h3>
		<span>Текст принадлежит к классу {{ result_class }}</span>
	</div>
    <div>
		<a href="/check">Вернуться к проверке текста</a>
	</div>
</body>
</html>