<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <title>Harry Potter Classifier | Сервис проверки теста на принадлежность к классу предметов по вселенной Гарри Поттера</title>
    <link rel="stylesheet" href="{% static "/style.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
</head>
<body>
	<header class="site-header">
		<h2 class="text-center"><a href="/" class="text-color font">Harry Potter Classifier</a></h2>
		<nav class="text-center text-color text-nav">
			<a class="text-color" href="/check">Проверка текста</a>
			|
			<a class="text-color" href="/classes">Статьи</a>
		</nav>
	</header>
	<div>
		<a class="link" href="/classes">Вернуться к списку классов</a>
		<h1 class="text-color textH">Статьи по классу "{{ class.description }}":</h1>
	</div>
	<div class="link">
		{% for article in articles %}
			<li><a class="link textP" href="/article/{{ article.id }}">{{ article.title }}</a></li>
		{% endfor %}
	</div>
    <div class="text-color textH">
		Статей по классу: {{ quantity }}
	</div>
</body>
</html>